
<div class="card" style="width: 18rem;">
        <div class="card-header">
          Tres en raya
        </div>
        <div class="card-body">
            <button class="btn btn-primary m-1 col-md-3 " onclick="play(1)"><i class="fa fa-question" id=btn1></i></button>
            <button class="btn btn-primary m-1 col-md-3 " onclick="play(2)"><i class="fa fa-question" id=btn2></i></button>
            <button class="btn btn-primary m-1 col-md-3 " onclick="play(3)"><i class="fa fa-question" id=btn3></i></button>
            <button class="btn btn-primary m-1 col-md-3 " onclick="play(4)"><i class="fa fa-question" id=btn4></i></button>
            <button class="btn btn-primary m-1 col-md-3 " onclick="play(5)"><i class="fa fa-question" id=btn5></i></button>
            <button class="btn btn-primary m-1 col-md-3 " onclick="play(6)"><i class="fa fa-question" id=btn6></i></button>
            <button class="btn btn-primary m-1 col-md-3 " onclick="play(7)"><i class="fa fa-question" id=btn7></i></button>
            <button class="btn btn-primary m-1 col-md-3 " onclick="play(8)"><i class="fa fa-question" id=btn8></i></button>
            <button class="btn btn-primary m-1 col-md-3 " onclick="play(9)"><i class="fa fa-question" id=btn9></i></button>
        </div>
        <div class="card-footer text-white bg-primary" id="turno">
            <p>Es el turno del jugador :
                <b id="user"> 1</b>
            </p>
        </div>
</div>